body {
  font-family: sans-serif;
  background-color: #FFF2DB;
}

.li-list {
  padding: 10px 6px !important;
}

#nav {
  list-style-type: none;
  margin-top: 5px;
  padding: 0;  
  background-color: #FF9315;
  position: -webkit-sticky; /* Safari */
  position: sticky; 
  display:inline-block;
  width: 100%;
}

#nav li {
  display: block;
  position: relative;
  float: left;  
  width: 150px;
}

#nav li a {
  display: block;
  color: black;
  font-size: 20px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;  
}

/* Change the link color to #111 (black) on hover */
#nav li:hover {
  background-color: #FFC300; 
}


#nav ul {
  position: absolute;
  padding: 0;
  left: 0;
  display: none;
  /* hides sublists */
}

/* hides sub-sublists */

#nav li:hover ul {
  display: block;  
  background-color: #FF9315;  
  width: 150px;
}



.active {
  background-color :#C46000;
}

.bigContainer {
  min-height: calc(100vh - 100px);
  max-width: 960px;
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  
  justify-content: center;
  align-items: center;
  margin:auto;
}

.bigTextContainer { 
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  
  justify-content: center;
  
  margin:auto;
}

.textContainer {
  font-family: sans-serif;
  text-align: justify;
  max-width: 50%; 
  align-items:  center;
}

.smallTextContainer {
  font-family: sans-serif;
  text-align: justify;
  max-width: 35%; 
  
  display: flex; 
  margin: 15px;
  
}

.vl {
  border-left: 1px solid black;
  height: 150px;
  position: relative;
  margin-left: -3px;
  margin-top: 5px;
  top: 0;
}

.imgContainer {
  max-width: 50%;
  max-height: 100%;
  padding-left: 10%;  
}

.smallImgContainer {
  max-width: 25%;
  max-height: 100%;
  padding-left: 0%;

  display: block;
  margin-left: auto;
  margin-right: auto;
}


.gameContainer {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  
  justify-content: center;
  align-items: center;
  margin:auto;
}


@font-face {
    font-family: 'press_start_2pregular';
    src: url('fonts/pressstart2p-regular-webfont.woff2') format('woff2'),
         url('fonts/pressstart2p-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
canvas {
  font-family: press_start_2pregular;
} 
div {
  font-family: press_start_2pregular;
}
#load {
  font-family:press_start_2pregular; 
  visibility: hidden; 
  height: 0px;
}

#nav ul {
  position: absolute;
  padding: 0;
  left: 0;
  display: none;
  /* hides sublists */
}
